@import url(./normalize.scss);
@import "bootstrap/scss/bootstrap";

:root {
    --leters--white: rgb(255, 255, 255);
    --ligh--gray: #DBDBDB;
    --blue--principal: #126B9D;
    --blue-second: #C3DAEE;
    --blanco: #ffffff;
    --opacity-img: rgba(54, 114, 128, 0.6);
    --gray--second: #3a3a3a;
}

.title {
    width: 50%;
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
    color: var(--blue--principal);
    border: dashed 2px var(--blue--principal);
    border-radius: 10px;
}

// header
header {
    width: 100%;
    position: fixed;
    z-index: 5;
}

// traduccion
.traduc {
    cursor: pointer;
}

//modal
.col {
    cursor: pointer;
}

.col:hover {
    background-color: var(--blue-second);
}

/* CSS para la barra de navegación */
.navbar {
    background-color: rgba(255, 255, 255, 0.659);
}

.navbar-brand {
    color: #000000;
}

/* Modo oscuro */
body.bg-dark .navbar-brand {
    color: #fff;
    /* Color blanco para modo oscuro */
}

body.bg-dark .nav-link {
    color: #fff;
    /* Color blanco para modo oscuro */
}

.navbar .nav-link {
    color: #000;
    padding: 0.5rem 1rem;
}

.navbar .nav-link:hover {
    color: #007bff;
}

.navbar .nav-icon {
    width: 28px;
    height: 29px;
}

.logo-nav {
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    border-radius: 10px;
}

// style for toggle
.toggle {
    position: relative;
    box-sizing: border-box;
}

.toggle input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.toggle label {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.toggle label:before {
    content: "";
    width: 70px;
    height: 40px;
    background: #fff;
    border: 2px solid #ddd;
    box-shadow: inset -30px 0 0 var(--blue--principal);
    position: relative;
    display: inline-block;
    border-radius: 20px;
    box-sizing: border-box;
    transition: 0.25s ease-in;
}

.toggle label:after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 50%;
    background: #fffdfd;
    box-shadow: inset -8px -5px #333;
    transition: 0.2s ease-in-out;
}

.toggle input[type="checkbox"]:checked+label:before {
    box-shadow: inset 30px 0 0 #ffeb00;
}

.toggle input[type="checkbox"]:checked+label:after {
    box-shadow: inset 0 0 0 2px #fff;
    background: #ffbc00;
    left: 39px;
    top: 8px;
    border: 2px dashed #fff;
}

//section main-------------------------------
#section__main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* Hide any overflowing content */
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    /* Center the video */
    z-index: -1;
}

.div__container {
    position: relative;
    z-index: 2;
    display: flex;
    height: 100%;
    /* Center the container vertically */

    & h3,
    h1 {
        text-shadow: 7px 3px 4px var(--blue--principal);
    }

}

.container__video {
    position: relative;
    z-index: 2;
    display: flex;
    height: 100%;
    /* Center the container vertically */

    & h3,
    h1 {
        text-shadow: 7px 3px 4px var(--blue--principal);
    }
}

/* section tours -----------------------------------------------*/

/* buttons filter */

.boton__circular {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background-position: center;
    cursor: pointer;
    background-color: var(--blue-second);
    transition: transform 400ms cubic-bezier(0.68, -0.55, 0.27, 2.5),
}

.boton__circular:hover {
    transform: scale(110%);
    filter: drop-shadow(0px 0px 10px var(--blue-second));
}

.circular-1 {
    background-image: url('../../public/img/filtros/solo.webp');
    background-size: cover;
}

.circular-2 {
    background-image: url('../../public/img/filtros/pareja.webp');
    background-size: cover;
}

.circular-3 {
    background-image: url('../../public/img/filtros/familiar.webp');
    background-size: cover;
}

.imagen-contenedor {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* img cubre todo el container*/
}

.div-second {
    width: 40%;
}

.div-three {
    width: 60%;
}

.masonry {
    display: grid;
    /* esto hace que se contenga y organice la imagen por cada columna */
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.item {
    font-size: 20px;
    border-radius: 5px;
}

.item:nth-child(odd) {
    grid-row: span 2;
}

/* hover img ------------------------------------------------*/
#div__image {
    cursor: pointer;
    position: relative;
}

#divimage__hover {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 100%;
    top: 0px;
    transition: all 500ms ease-out;
    opacity: 0;
    background-color: var(--opacity-img);
    padding: 20px;
    color: var(--blanco);
    letter-spacing: 2px;

    & h4,
    h3 {
        filter: drop-shadow(0 0 10px var(--gray--second));
    }
}

#divimage__hover:hover {
    opacity: 1;
}

// seccion encuentranos -----------------------------------------------------------------------------------

.div__title {
    border: dashed 2px #126b92;
    border-radius: 10px;
}

#section-find-us {
    background-color: #C3DAEE;
    /* Color de fondo gris claro */
    padding-top: 60px;
    padding-bottom: 60px;
}

.find-us-info p {
    font-size: 1.1em;
    color: #126b92;
    /* Texto de color azul */
    text-align: left;
    /* Alineación del texto a la izquierda */
}

.find-us-info {
    justify-content: center;
    text-align: center;
    /* Alineación del contenido a la izquierda */
}


#caja-mapa {
    width: 800px;
    height: 200px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.blue-back {
    background-image: linear-gradient(-20deg, rgb(255, 255, 255), rgba(79, 153, 244, 0.608), rgb(255, 255, 255));
}

body.bg-dark .blue-back {
    background-image: linear-gradient(-20deg, rgb(0, 0, 0), rgba(79, 153, 244, 0.608), rgb(0, 0, 0))
        /* color en modo oscuro */
}

.gray-back {
    background-color: #f8f8f8b6;
    border-radius: 10px;
    padding: 0;
    margin: 0px 250px;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    max-width: 100%;
    /* Ajuste para pantallas pequeñas */
}

.titlesn {
    width: 50%;
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
    border: dashed 2px white;
    border-radius: 10px;
}

#imgprs {

    border-radius: 10px;
    width: 450px;
    max-width: 100%;
    height: auto;
}

// testimonials section

.contenedor {
    position: relative;
    z-index: 2;
    height: 100%;
    /* Center the container vertically */
}

.contenedor-testimonios {
    gap: 2rem;
}

.contenedor-testimonios__card {
    max-height: 200px;
    min-height: 150px;
    min-width: 340px;
    max-width: 350px;
    border-radius: 10px;
    border: solid 1px black;
}

.contenedor-testimonios__card-overlay {
    top: 20px;
    left: 20px;
    z-index: 999;
    border-radius: 10px;
    border: solid 1px black;
    padding-left: 20px;
}


.contenedor-testimonios_card-overlay_title {
    padding-top: 0.8rem;
    padding-right: 1.3rem;
    font-size: smaller;
}

.contenedor-testimonios_card-overlay_avatar {
    bottom: 0;
    left: 20px;
    z-index: 999;
    gap: 1rem;
    padding-bottom: 1.4rem;
}

.contenedor-testimonios_card-overlay_avatar-img {
    width: 30px;
    height: 30px;
}

.contenedor-testimonios_card-overlay_avatar-text {
    font-size: small;
}

// estrellas
.rating>input {
    display: none;
    /* Ocultar los inputs para que no sean seleccionables */
}

.rating>label {
    float: right;
    cursor: default;
    font-size: 30px;
    color: #666;
}

.rating>label:before {
    content: "★";
}

/* Estilo para estrellas pintadas */
.rating>input:checked+label:before,
.rating>input:checked~input+label:before {
    color: #ffa723;
}

body.bg-dark #section-find-us {
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    ;
    /* color en modo oscuro */
}

.bg-green {
    background-color: #82D1A2;
}

.bg-blue {
    background-color: #97d3f9;
}

.bg-green-transparent {
    background-color: #82d1a280;
}

.bg-blue-transparent {
    background-color: #c3daee80;
}

// footer
footer {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(153, 191, 214, 1) 60%, rgba(63, 135, 177, 1) 100%, rgba(18, 107, 157, 1) 100%);
}

#footer a:hover {
    cursor: pointer;
}

footer.bg-dark {
    background: linear-gradient(-20deg, rgb(0, 0, 0), rgba(79, 153, 244, 0.608), rgb(0, 0, 0));
    color: #9cc1eb;
}

.footer-nav {
    gap: 13%
}

.footer-message {
    margin-left: 10%;
}

.footer-social {
    gap: 3%;
    padding-left: 5%;
}

//Clases del formulario 

.form-overlay {
    background-color: rgba(255, 255, 255, 0.375);
    /* Fondo blanco con opacidad */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
}

.form-title {
    padding: 1rem;
    font-size: 48px;
    font-weight: 650;
    color: #126B9D;
    text-align: center;
}

//estilos para el video del formulario

#background-video-form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

//estilos para el video del formulario

#background-video-form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#section-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container-form {
    position: relative;
    z-index: 2;
    display: flex;
    height: 100%;
}

#titulo-contacto {
    font-size: 25px;
    font-weight: 650;
    color: #DBDBDB
}

//ESTILOS PARA EL LOGIN -----------------------------------------------------------------------------------------------

.login-section {
    height: 100vh;
}

.container-fluid {
    position: relative;
}

.back-button {
    position: absolute;
    top: 10px;
    left: 50%
}

.image-container {
    object-fit: cover;
}

.form-overlay{
    padding: 0px 20px 10px
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;
}

.back-button a {
    text-decoration: none;
}

.back-button img {
    width: 30px;
    height: auto;
}

.login-content {
    width: 100%;
    max-width: 500px;
}

.logo {
    width: 170px;
    height: auto;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

.btn-primary {
    background-color: #126B9D;
    border: none;
}

#title-login {
    font-size: 50px;
    font-weight: 700;
    color: #126B9D
}

#atras-login {
    align-items: center;
    color: #126B9D;
    font-weight: 600;
    width: 50%;
}

// títulos
@media screen and (max-width: 768px) {
    .title {
        width: 80%;
    }
}

@media (max-width: 800px) {
    .back-button {
        left: 10px;
        transform: none;
    }

    .image-container {
        display: none;
    }

    .form-container {
        width: 100%;
    }
}

@media (max-width: 767px) {

    /* Cambiar el orden de las cajas en pantallas pequeñas */
    #cj .flex-md-row {
        flex-direction: column-reverse;
    }

    .contenedor-testimonios {
        width: 100%;
    }

    .contenedor-testimonios__card-overlay {
        width: 80%;
    }

    .contenedor-testimonios__card {
        width: 100%;
    }

}

/* Estilos responsivos */
@media (max-width: 1200px) {
    .titlesn {
        font-size: 3rem;
        /* Tamaño de fuente para pantallas grandes */

    }
}

@media (max-width: 992px) {
    .titlesn {
        font-size: 2.5rem;
        /* Tamaño de fuente para pantallas medianas */
    }
}

@media (max-width: 768px) {
    .titlesn {
        font-size: 2rem;
        /* Tamaño de fuente para pantallas pequeñas */
    }
}

@media (max-width: 576px) {
    .titlesn {
        font-size: 1.5rem;
        /* Tamaño de fuente para pantallas extra pequeñas */
    }
}